.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.logo {
  width: max(10%, 80px);
}

.profile {
  width: max(5%, 40px);
  aspect-ratio: 1 / 1; /* Makes height always equal to width */
  border-radius: 50%;
  object-fit: cover; /*To make the image fit within the circle */
}
