.order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 30px;
  border: 3px solid green;
  padding: 20px;
  margin: 30px 70px;
  font-size: 14px;
  color: black;
}
.p-color {
  color: black;
}
.custom-toast {
  color: black !important;
}
.empty-order-message {
  background-color: white;
  color: green;
  border: 3px solid green;
  padding: 40px;
  margin: 40px auto;
  text-align: center;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: bold;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h3 {
  margin: 30px 70px;
}
.order-item-food,
.order-item-name {
  font-weight: 600;
}
.order-item-name {
  margin-top: 30px;
  margin-bottom: 5px;
}
.order-item-address {
  margin-bottom: 10px;
}
.order-item select {
  background-color: #ccffcc;
  border: 1px solid green;
  width: max(10vw, 120px);
  padding: 10px;
  outline: none;
  font-weight: 600;
}
.delete-btn {
  margin-right: -20px;
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}
@media (max-width: 700px) {
  .order-item {
    font-size: 12px;
    grid-template-columns: 0.5fr 2fr 1fr;
    padding: 15px 8px;
  }
  .order-item select {
    padding: 5px;
    font-size: 12px;
  }
  .order-item img {
    width: 40px;
  }
}
